@font-face {
    src: url("res_folder/Montserrat-Medium.ttf");
}

/* Define the second custom font */
@font-face {
    src: url("res_folder/Montserrat-Medium.ttf");
}



.PayButton {
    -fx-color: #FFF;
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, #7b7b7b, 10, 0.5, 0, 0);
}

.PayButton:hover {
    -fx-font-family: 'Montserrat-Bold';
    -fx-text-fill: #FFF;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, #fff, 15, 0.7, 0, 0);
}

.PayButton:pressed {
    -fx-font-family: 'Montserrat-Medium';
    -fx-text-fill: #FFF;
    -fx-font-weight: bold;
}



.table-view {
    -fx-background-color: white;
    -fx-background-radius:14 14 0 0;
    -fx-scrollbar-width: none;
    
    }
.table-view .column-header-background{
        -fx-background-color: #7C0902;
        -fx-background-radius:14;
        -fx-background-insets: 0 0 10 0;
        
    }

.table-view .column-header, .table-view .filler{
        -fx-size:50px;
        -fx-border-width: 0 0 10 0;
        -fx-background-color:transparent;
        
        
    }
    
.table-view .column-header .label {
        -fx-text-fill: white ;
        
    }


    .table-view .scroll-bar * {
        -fx-min-width: 0;
        -fx-pref-width: 0;
        -fx-max-width: 0;
    
        -fx-min-height: 0;
        -fx-pref-height: 0;
        -fx-max-height: 0;
    }